{% extends 'layout.html' %}
{% block title %}
    {{ image.title }}
{% endblock %}

{% block content %}
    <section class="image-page">
        <a href="{% url 'images:list' %}" class="back-button">
            &larr; Back to Images
        </a>
        <h1 class="image-title">{{ image.title }}</h1>
        <p class="image-card-date">{{ image.date }}
                                Uploaded by: {{ image.author }}</p>
        <p class="image-body">{{ image.body }}</p>
        <img
            class="banner"
            src="{{ image.banner.url }}"
            alt="{{ image.title }}"
        />
    </section>
{% endblock %}