{% extends 'layout.html' %}
{% block title %}
    Images List
{% endblock %}

{% block content %}
    <section class="images-list">
        <h1>Images</h1>
        <div class="image-grid">
            {% for image in images %}
                <article class="image-card">
                    <a href="{% url 'images:page' slug=image.slug %}">
                        <img
                            class="banner"
                            src="{{ image.banner.url }}"
                            alt="{{ image.title }}"
                        />
                        <div class="image-card-content">
                            <h2 class="image-card-title">{{ image.title }}</h2>
                            <p class="image-card-date">{{ image.date }}
                                Uploaded by: {{ image.author }}</p>
                            <p class="image-card-body">{{ image.body|truncatewords:20 }}</p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}