<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django Images App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/">
            <span aria-label="Home" title="Home">Home</span>
        </a> |
        <a href="{% url 'images:list' %}">
            <span aria-label="Images" title="Images">Images</span>
        </a> |
        <a href="/users/login/">
            <span aria-label="Login" title="Login">Login</span>
        </a> |
        <a href="/users/register/">
            <span aria-label="Register" title="Login">Register</span>
        </a>


    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>