<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django Images App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <nav>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="/">
            <span aria-label="Home" title="Home">Home</span>
        </a> |
        {% if user.is_authenticated %}
            <a href="{% url 'images:list' %}">
               <span aria-label="Images" title="Images">Images</span>
            </a> |
            <a href="{% url 'images:upload' %}">
                <span aria-label="Upload" title="Upload">Upload</span>
            </a> |
            <a href="{% url 'users:logout' %}">
                <span aria-label="Logout" title="Logout">Logout</span>
            </a>
        {% else %}
            <a href="{% url 'users:login' %}">
                <span aria-label="Login" title="Login">Login</span>
            </a> |
            <a href="{% url 'users:register' %}">
                <span aria-label="Register" title="Register">Register</span>
            </a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>